.DS_Store
__pycache__
.coverage*
*env/
htmlcov/*
*.yaml   # use extension '.yml' to store test yaml and other yaml files that need to be checked in
data_ingestion_template.yaml
*.log
preprocess_feature.spec
tests/data_mock/
*.idea
# *.cfg # ignores setup.cfg
**dask-worker-space**
**/.ipynb_checkpoints
.venv
dist/

# docs
docs/tutorials
docs/img
docs/_build

# docker luna_tutorial
docker/luna_tutorial/vmount/PRO-12-123
docker/luna_tutorial/.dremio_port
docker/luna_tutorial/.dsa_port
docker/luna_tutorial/.jupyter_port
docker/luna_tutorial/.minio_api_port
docker/luna_tutorial/.minio_web_port
docker/luna_tutorial/vmount/.minio.sys
docker/luna_tutorial/vmount/assetstore
