.DS_Store
__pycache__
.coverage*
*env/
htmlcov/*
*.yaml   # use extension '.yml' to store test yaml and other yaml files that need to be checked in
data_ingestion_template.yaml
*.log
preprocess_feature.spec
tests/data_mock/
*.idea
# *.cfg # ignores setup.cfg
**dask-worker-space**
**/.ipynb_checkpoints