# https://packaging.python.org/discussions/install-requires-vs-requirements/
# https://caremad.io/posts/2013/07/setup-vs-requirement/

--index-url https://pypi.python.org/simple/

# Editable mode. Requirements are picked up from setup.cfg install_requires and matched up to versions in the the index list above

# can override abstract requirements in setup.cfg to specific versions by placing entries here

-e .
