# path to table
TABLE_PATH: /path/to/table

# local path to unpack pngs.
DESTINATION_PATH: /where/to/create/data

# field to unpack dicom or overlay
COLUMN_NAME: dicom

# png image size to unpack
IMAGE_WIDTH: 256

IMAGE_HEIGHT: 256
