# mind data path
ROOT_PATH: /path/to/data/path

PROJECT: project_name

TABLE_NAME: table_name

DATA_TYPE: mha

# graph database
GRAPH_URI: graph-ip:graph-port

GRAPH_USER: somegraphuser

GRAPH_PW: somepw
