# path to mind data
# hdfs:// or absolute or relative datapath
ROOT_PATH: /path/to/data/path

PROJECT: DMT_IRB

TABLE_NAME: FEATURE_DMT

# local path to unpack pngs.
DESTINATION_PATH: /where/to/create/data

# field to unpack dicom or overlay
COLUMN_NAME: dicom

# png image size to unpack
IMAGE_WIDTH: 256

IMAGE_HEIGHT: 256
