# path to mind data
# hdfs:// or absolute or relative datapath
MIND_DATA_PATH: /path/to/data/path

PROJECT_NAME: DMT_IRB

TABLE_NAME: FEATURE_DMT

# local path to unpack pngs.
DESTINATION_PATH: /where/to/create/data

# field to unpack dicom or overlay
COLUMN_NAME: dicom

