name: Release Management

on:
  push:
    branches:
      - master

jobs:
  release:
    runs-on: ubuntu-latest
    concurrency: release

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
        persist-credentials: false

    # temporarily turn branch protection off for semantic release
    - name: Branch protection OFF
      uses: octokit/request-action@v2.x
      with:
        route: PUT /repos/msk-mind/luna/branches/master/protection
        repository: ${{ github.repository }}
        required_status_checks: |
          null
        enforce_admins: |
          null
        required_pull_request_reviews: |
          null
        restrictions: |
          null
      env:
        GITHUB_TOKEN: ${{ secrets.GIT_ADMIN_TOKEN }}
    # create a git release
    - name: Release pyluna
      uses: relekang/python-semantic-release@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        pypi_token: ${{ secrets.PYPI_TOKEN }}

    # turn branch protection back on
    - name: Branch protection ON
      uses: octokit/request-action@v2.x
      with:
        route: PUT /repos/msk-mind/luna/branches/master/protection
        repository: ${{ github.repository }}
        required_status_checks: |
          null
        enforce_admins: |
          null
        required_pull_request_reviews: |
          required_approving_review_count: 1
        restrictions: |
          null
      env:
        GITHUB_TOKEN: ${{ secrets.GIT_ADMIN_TOKEN }}

  push-to-pypi:
    runs-on: ubuntu-latest
    needs: release

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Add wheel dependency
        run: pip install wheel

      # pyluna-common
      - name: Generate dist pyluna-common
        run: python setup.py sdist bdist_wheel
        working-directory: ./pyluna-common

      - name: Publish pyluna-common to PyPI
        uses: pypa/gh-action-pypi-publish@master
        with:
          user: __token__
          password: ${{ secrets.PYPI_TOKEN }}
          packages_dir: ./pyluna-common/dist

      # pyluna-core
      - name: Generate dist pyluna-core
        run: python setup.py sdist bdist_wheel
        working-directory: ./pyluna-core

      - name: Publish pyluna-core to PyPI
        uses: pypa/gh-action-pypi-publish@master
        with:
          user: __token__
          password: ${{ secrets.PYPI_TOKEN }}
          packages_dir: ./pyluna-core/dist

      # pyluna-radiology
      - name: Generate dist pyluna-radiology
        run: python setup.py sdist bdist_wheel
        working-directory: ./pyluna-radiology

      - name: Publish pyluna-radiology to PyPI
        uses: pypa/gh-action-pypi-publish@master
        with:
          user: __token__
          password: ${{ secrets.PYPI_TOKEN }}
          packages_dir: ./pyluna-radiology/dist

      # pyluna-pathology
      - name: Generate dist pyluna-pathology
        run: python setup.py sdist bdist_wheel
        working-directory: ./pyluna-pathology

      - name: Publish pyluna-pathology to PyPI
        uses: pypa/gh-action-pypi-publish@master
        with:
          user: __token__
          password: ${{ secrets.PYPI_TOKEN }}
          packages_dir: ./pyluna-pathology/dist

